<style>
    .pageFormContent label {text-align: right}
    .pageFormContent .alt {text-align: left}
</style>
<div class="pageContent">
    <!--start 单位信息-->
    <div style="width: 100%;float: left;">
        <form method="post" action="__ADMIN__Unit/saveinfo" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
            <div class="pageFormContent" layoutH="56" style="float: left;width: 30%;height: 100%">
                <input type="hidden" name="id" value="{$info.id}">
                <dl class="nowrap">
                    <p>
                        <label>单位名称：</label>
                        <input name="name" class="required" type="text" size="30" value="{$info.name}" alt="请输入单位名称" />
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>单位地址：</label>
                        <input name="addr" class="required" type="text" size="30" value="{$info.addr}" alt="请输入单位所在地，具体到门牌号"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>诊疗科目：</label>
                        <input name="zlkm" class="required" type="text" size="30" value="{$info.zlkm}" alt="请输入单位包含诊疗科目"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>负责人：</label>
                        <input name="leaderofficer" class="required" type="text" size="30" value="{$info.leaderofficer}" alt="请输入单位负责人"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>医疗机构登记号：</label>
                        <input name="yljgdjh" class="required" type="text" size="30" value="{$info.yljgdjh}" alt="请输入单位医疗机构登记号"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>证书有效期：</label>
                        <input name="zsyxq" class="required" type="text" size="30" value="{$info.zsyxq}" alt="请输入证书有效期"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>药房负责人：</label>
                        <input name="yffzr" class="required" type="text" size="30" value="{$info.zsyxq}" alt="请输入药房负责人"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>联系电话：</label>
                        <input name="zsyxq" class="required" type="text" size="30" value="{$info.zsyxq}" alt="请输入联系电话"/>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p style="padding-left: 20px; font-weight: bold;">地图定位（请在地图中点击单位所在点）：</p></br>
                    <p><label>纬度：</label><input name="x_coord" id="x_point" class="required" type="text" size="30" value="{$info.x_coord}" readonly="true" /></p></br>
                    <p><label>经度：</label><input name="y_coord" id="y_point" class="required" type="text" size="30" value="{$info.y_coord}" readonly="true" /></p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>单位类型：</label>
                        <select class="" name="type" >
                            {volist name="unit_type_info" id="type" key="k"}
                            {eq name="$info.type" value="$type.id"}<option value="{$type.id}" selected="selected" >{$type.name}</option>
                            {else/} <option value="{$type.id}" >{$type.name}</option>
                            {/eq}
                            {/volist}
                        </select>
                    </p>
                </dl>
                <dl class="nowrap">
                    <p>
                        <label>信  息：</label>
                        <textarea style="width: 218px" name="info" cols="60" rows="6" alt="请输入单位相关信息" >{$info.info}</textarea>
                    </p>
                </dl>
            </div>

            <!--start 地图-->
            <div style="width:69%;float: right;height: 800px">
                <iframe src="__ADMIN__Unit/unitMap?x_point={$info.x_coord}&y_point={$info.y_coord}" style="width: 100%;height:100%;"></iframe>
            </div>
            <!--end 地图-->

            <div class="formBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                    <li>
                        <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--end 单位信息-->

</div>
