<form id="pagerForm" method="post" action="__ADMIN__Unit/index" onsubmit="return navTabSearch(this)">
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="keywords" value="${param.keywords}" />
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
    <input type="hidden" name="keyword" value="{$keyword}" />
    <input type="hidden" name="utname" value="{$utname}" />
</form>


<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="__ADMIN__Unit/index" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        单位：<input type="text" name="keyword" value="{$keyword}"/>
                    </td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
                    </td>
                    <!--<td>-->
                    <!--建档日期：<input type="text" class="date" readonly="true" />-->
                    <!--</td>-->
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li></li>
                    <!--<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>-->
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="__ADMIN__Unit/edit" target="navTab" rel="unit_add" title="添加单位" ><span><i class="fa fa-plus-square"></i>&nbsp;添加</span></a></li>
            <li><a class="delete" href="__ADMIN__Unit/removeinfo?uid={sid_unit}" target="ajaxTodo" title="确定要删除吗?"><span><i class="fa fa-minus-square"></i>&nbsp;删除</span></a></li>
            <li><a class="edit" href="__ADMIN__Unit/edit?uid={sid_unit}" target="navTab" rel="unit_add" title="编辑单位" ><span><i class="fa fa-pencil-square"></i>&nbsp;修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="__ADMIN__Unit/uploadfile" target="dialog" rel="unit_improt" title="导入单位" ><span><i class="fa  fa-upload"></i>&nbsp;导入EXCEL</span></a></li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="确定要导出这些记录吗?"><span><i class="fa  fa-download"></i>&nbsp;导出EXCEL</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="155">
        <thead>
        <tr>
            <th width="20"></th>
            <th width="30">企业名称</th>
            <th width="30">社会诚信代码</th>
            <th width="40">注册地址</th>
            <th width="40">法定代表人</th>
            <th width="40">企业负责人</th>
            <th width="40">企业负责人执业药师注册证号</th>
            <th width="40">质量负责人</th>
            <th width="40">医疗机构登记号</th>
            <th width="40">证书有效期</th>
            <th width="40">药房负责人</th>
            <th width="40">联系电话</th>

        </tr>
        </thead>
        <tbody>
        {volist name="datalist" id="data" key="k"}
        <tr target="sid_unit" rel="{$data['id']}">
            <td>{$k + $numPerPage*($currentPage-1)}</td>
            <td>{$data['name']}</td>
            <td>{$data['addr']}</td>
            <td>{$data['unittype']}</td>
            <td>{$data['info']}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="panelBar bottom-pagination">
        <div class="pages">
            <span>显示</span>
            <select class="combox combox_select" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共{$totalCount}条</span>
        </div>

        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>

    </div>
</div>
